* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

#site-body {
  display: flex;
  flex-direction: column;
}

#site-main {
  flex-grow: 1;
  display: grid;
  grid-template-areas: 'projects tasks';
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  height: 100%;
}

#site-main > div {
  display: flex;
  flex-direction: column;
}

#site-main > #projects {
  grid-area: projects;
  background-color: bisque;
  align-content: flex-start;
  justify-content: flex-start;
}
#projects > #projectsHeader {
  height: 50px;
  background-color: blueviolet;
}
#projectHeader > #addProject {
  display: block;
  margin: auto;
  margin-top: 5px;
}

#projectsContent {
  height: 860px;
  overflow-y: auto;
}

#content {
  height: 800px;
  overflow-y: auto;
}

.projectContainer {
  width: 80%;
  display: block;
  height: 100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: aquamarine;
  border-radius: 5px;
}

.edit {
  height: 200px;
}

.projectContainer:hover {
  animation-name: projectContainerBackground;
  animation-duration: 1.5s;
  cursor: pointer;
  background-color: brown;
}
.projectContainer > .projectTitleContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}

.projectTitleContainer > .projectTitle {
  display: block;
}

.projectTitleContainer > .projectTitleInput {
  display: none;
}

.edit > .projectTitleContainer > .projectTitleInput {
  display: none;
}

.edit > .projectTitleContainer > .projectTitle {
  display: block;
}

.projectTitleContainer > .projectButtonContainer > .projectEditButton {
  display: inline-block;
}

.projectTitleContainer > .projectButtonContainer > .projectDeleteButton {
  display: inline-block;
}

.projectTitleContainer > .projectButtonContainer > .projectOkButton {
  display: none;
}

.edit > .projectTitleContainer > .projectButtonContainer > .projectEditButton {
  display: none;
}

.edit
  > .projectTitleContainer
  > .projectButtonContainer
  > .projectDeleteButton {
  display: none;
}

.edit > .projectTitleContainer > .projectButtonContainer > .projectOkButton {
  display: block;
}

.projectContainer > hr {
  border: none;
  border-top: 1px solid #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.projectContainer > .projectDescription {
  display: block;
}

.edit > .projectDescription {
  display: none;
}

.projectContainer > .projectDescriptionInput {
  display: block;
}

.edit > .projectDescriptionInput {
  display: block;
  width: 100%;
  height: 80%;
  resize: none;
}

#site-main > #tasks {
  grid-area: tasks;
  background-color: wheat;
}

#tasks > #tasksHeader {
  height: 50px;
  background-color: transparent;
}

#tasksHeader > .button {
  display: block;
  margin: auto;
  margin-top: 5px;
}

#tasksHeader > #addTask {
  display: block;
  margin: auto;
  margin-top: 5px;
}

#tasksContent {
  height: 860px;
  overflow-y: auto;
}

.taskContainer- {
  display: block;
  width: 70%;
  height: 100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: green;
  border-radius: 5px;
}

.taskContainer-:hover {
  animation: taskContinerbackground;
  animation-duration: 1.5s;
  background-color: palegreen;
}

/* .taskContainer- > .taskTitle {
} */

.taskContainer- > hr {
  border: none;
  border-top: 1px solid #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}
